{% extends 'client/base.html' %}

{% block content %}
<div class="container">
    <div class="col-12">
        <div class="col-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Клиент сервиса</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ client.name }}</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ client.email }}</li>
                            <li>{{ client.message }}</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
